ipython==8.12
sphinx>=4,<6
jupyter-book==0.13.1
matplotlib
numpy
attrs>=20.3,<22
lxml[html_clean]
sphinxcontrib-applehelp<1.0.8
sphinxcontrib-devhelp<1.0.6
sphinxcontrib-qthelp<1.0.7
sphinxcontrib-serializinghtml<1.1.10
sphinxcontrib-htmlhelp<2.0
